.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem;
  }
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 2rem;
  gap: 2rem;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
  }

  &__link {
    &:link,
    &:visited {
      display: block;
      padding: 1.3rem;
      font-size: 1.3rem;
      color: #fff;
      text-decoration: none;
      font-family: $font-display;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-gray-light-2;
  margin: 6rem auto 0;
  text-align: center;
  width: 70%;

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }

  a {
    &:link,
    &:visited {
      display: inline-block;
      padding: 0.5rem;
      color: #fff;
      text-decoration: none;
      font-family: $font-display;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}
